body
  background: linear-gradient(135deg, #7378a4, #7378a4, #7378a4, #535882)
  font-family: 'Ubuntu', sans-serif
  font-weight: 100
  height: 100vh
  width: 97%
  margin: 0

.title
  background: linear-gradient(20deg, #322441, #535882, #636791, #7378a4 )
  color: white
  padding-left: 10px

  a
    display: block
    text-decoration: none
    color: #fff
    transition: 0.6s

  a:hover
    color: #f6ae1a
    transition: 0.6s


.sidenav
  height: 100%
  width: 20%
  min-width: 245px
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background: linear-gradient(210deg, #382d59, #382d59, #382d59, #634f9a)
  overflow-x: hidden
  padding-top: 20px
  box-shadow: 2px 0px 4px 2px black

  .title
    color: #ddd
    padding-left: 10px

    a
      text-decoration: none
      color: #ddd
      transition: 0.6s

    a:hover
      color: #f6ae1a
      transition: 0.6s

  .main-link
    display: block
    background-color: #241a35
    border-top-right-radius: 100px
    border-top: 2px solid #241a35
    border-bottom: 2px solid #241a35
    border-right: 2px solid #241a35
    font-size: 1.5em
    padding-left: 10px
    margin-top: 10px
    color: #fff
    text-decoration: none
    transition: 0.8s

  .main-link:hover
    background-color: #120813
    transition: 0.3s
    color: #f6ae1a
    cursor: wait
    border-top: 2px solid #241a35
    border-bottom: 2px solid #f6ae1a
    border-right: 2px solid #f6ae1a

  .master-link
    display: block
    background-color: #944
    border-top-right-radius: 100px
    border-top: 2px solid #329
    border-bottom: 2px solid #329
    border-right: 2px solid #329
    font-size: 1.5em
    padding-left: 10px
    margin-top: 10px
    color: #fff
    text-decoration: none
    transition: 0.8s

  .master-link:hover
    background-color: #882211
    transition: 0.3s
    color: #332288
    cursor: wait
    border-top: 2px solid #332288
    border-bottom: 2px solid #332288
    border-right: 2px solid #332288

  .master-link-active
    display: block
    background-color: #944
    border-top-right-radius: 100px
    border-top: 2px solid #329
    border-bottom: 2px solid #329
    border-right: 2px solid #329
    font-size: 1.5em
    padding-left: 10px
    margin-top: 10px
    color: #f6ae1a
    text-decoration: none
    transition: 0.8s

  .mast-link-active:hover
    background-color: #882211
    transition: 0.3s
    color: #332288
    cursor: wait
    border-top: 2px solid #332288
    border-bottom: 2px solid #332288
    border-right: 2px solid #332288

  input
    background-color: #5b5184
    border: 1px solid white
    border-radius: 4px
    color: #DDD
    display: block
    font-size: 1.5em
    margin-left: 10px
    margin-bottom: 20px
    margin-top: 20px
    padding-left: 5px

  select
    background-color: #5b5184
    border: 1px solid white
    border-radius: 4px
    color: #DDD
    display: block
    font-size: 1.5em
    margin-left: 10px
    margin-bottom: 20px
    margin-top: 20px
    padding-left: 5px

  .search-results
    display: block
    color: white
    font-size: 1.5em

    p
      padding-left: 10px

    a
      display: block
      background-color: #241a35
      border-top-right-radius: 100px
      padding-left: 10px
      margin-top: 10px
      color: #fff
      text-decoration: none
      transition: 1.0s

    a:hover
      background-color: #120813
      border-top-right-radius: 0px
      transition: 0.3s
      color: #f6ae1a
      cursor: wait


.main
  margin-left: 23%
  padding: 20px 10px

.form-card
  background-color: #535882
  border: solid 1px black
  border-bottom: black
  border-left: black
  border-right: black
  border-radius: 2px
  box-shadow: 0px 0px 2px 1px black
  color: white
  margin-top: 10px
  padding-left: 10px
  padding-top: 10px
  font-size: 18px
  text-align: left

  input
    border: none
    border-radius: 2px
    background-color: #5358a2
    border-bottom: 1px solid #5358a2
    box-sizing: border-box
    color: white
    font-size: 18px
    padding-top: 5px
    padding-left: 5px
    margin-top: 5px
    transition: 0.4s
    width: calc(100% - 10px)

  input:focus
    transition: 0.4s
    background-color: #6469b3
    border-bottom: 1px solid #00FF00
    outline: none

  select
    border: none
    border-radius: 2px
    background-color: #5358a2
    border-bottom: 1px solid #5358a2
    box-sizing: border-box
    color: white
    font-size: 18px
    padding-top: 5px
    padding-left: 5px
    margin-top: 5px
    transition: 0.4s
    width: calc(100% - 10px)

  textarea
    border: none
    border-radius: 2px
    background-color: #5358a2
    border-bottom: 1px solid #5358a2
    box-sizing: border-box
    color: white
    font-size: 18px
    padding-top: 5px
    padding-left: 5px
    margin-top: 5px
    transition: 0.4s
    width: calc(100% - 15px)

  textarea:focus
    transition: 0.4s
    background-color: #6469b3
    border: 1px solid #00FF00
    outline: none

  button
    border: none
    color: white
    background-color: #6469b3
    font-size: 18px
    padding: 5px
    padding-left: 10px
    padding-right: 10px
    margin-top: 10px
    margin-bottom: 10px

  button:hover
    transition: 0.4s
    background-color: #00aaaa
    cursor: pointer

  a
    display: none
    text-decoration: none
    color: #ddd
    transition: 0.6s

  label
    color: #f1dc4d
    display: block
    font-size: 20px
    font-weight: bold
    padding: 5px
